<div class="footer-area">
    <div class="footer-top section-space-y-axis-100 text-black" data-bg-color="#e5ddcc">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6">
                    <div class="widget-item">
                        <div class="footer-logo pb-4">
                            <a href="/">
                                <img src="~/assets/images/logo/logo3.png" alt="Logo">
                            </a>
                        </div>
                        <p class="short-desc mb-2">Shop giày Sneaker2T luôn mang đến cho người dùng một trải nghiệm thoải mái. </p>
                        <div class="widget-contact-info pb-6">
                            <ul>
                                <li>
                                    <i class="pe-7s-phone"></i>
                                    0398.647.228
                                </li>
                                <li>
                                    <i class="pe-7s-map-marker"></i>
                                    62, Tân Hòa 2, Phường Hiệp Phú, Quận 9, Thành phố Thủ Đức
                                </li>
                                <li>
                                    <i class="pe-7s-mail"></i>
                                    <a href="mailto://bombocity1919@gmail.com">bombocity1919@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                        <div class="payment-method">
                            <a href="javascript:void(0)">
                                <img src="~/assets/images/payment/1.png" alt="Payment Method">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Về Sneaker2T</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="javascript:void(0)">Giới thiệu Sneaker2T</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Hệ thống cửa hàng</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Thông tin liên hệ</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Thương hiệu</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Hướng dẫn chọn Size</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Hướng dẫn mua hàng</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Hỗ trợ khách hàng</h3>
                        <ul class="widget-list-item">
                            <li>
                                <a href="javascript:void(0)">Chính sách thanh toán</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Chính sách giao hàng</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Chính sách đổi trả</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Chính sách bảo hành</a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">Chính sách bảo mật<a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">FAQ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                @*<div class="col-lg-3 col-md-6 pt-10 pt-lg-0">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Newsletters</h3>
                        <p class="short-desc">Lorem ipsum dolor sit amet, consectet adipi elit, sed do eius tempor.</p>
                    </div>
                    <div class="widget-form-area">
                        <form class="widget-form" action="#">
                            <input class="input-field" type="email" autocomplete="off" placeholder="Your Email">
                            <div class="button-wrap pt-5">
                                <button class="btn btn-custom-size btn-primary btn-secondary-hover rounded-0" id="mc-submit">Send Mail</button>
                            </div>
                        </form>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    <div class="footer-bottom py-3" data-bg-color="#bac34e">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright">
                        <span class="copyright-text text-white">Copyright © 2022 by Sneaker2T Studio. All Rights Reserved.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
